
body div.container section.places {
    text-align: left;
    vertical-align: top;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places {
text-align: top;
font-size: 30px;
}
article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: #FF5A5F 1px solid;
	border-radius: 4px;
	position: relative;
}
section.places article h2 {
	font-size: 30px;
	text-align: center;
}
section.places article h1 {
	font-size: 30px;
	flex: 100%;
}
